.b{
    background-color: rgb(221, 241, 221);
}
.dheader{
    background-color: rgb(221, 241, 221);
}
.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    border:1px solid rgba(0, 0, 0, 0.2)
}

.card{
    padding: 20px;
    margin: 15px auto;
}
.navSec a:hover{
   color: green;
   cursor: pointer;
}
.card img{
    width: 250px;
    height:200px;
    margin-bottom:10px;
}



.form-control{
    border-radius: 3px;
    width: 350px;
    margin-left: 50px;
    margin-top: 10px;
}

